$color-gray-light: #e7e6e6;
$color-white-background: #fbfcff;
$color-white: #fff;
$color-cornflower-blue: #6d92f3;
$color-gray: #827d7d;
$color-silver: #cac8c8;
$color-apricot: #f08b7b;
$color-malibu: #81c5f5;
$color-madang: #9cf1a8;
$color-perfume: #aaa0f8;
$color-corvette: #fac29e;
$color-froly: #f07b95;
$color-golden-sand: #f5e281;
$color-dark-red: #d30404;

$box-shadow-hover: 0 0.5rem 3rem rgba(0, 0, 0, 0.05);
$box-shadow-active: 0 0.5rem 3rem rgba(0, 0, 0, 0.03);
$box-shadow-all-sides: 0 0 3rem rgba(0, 0, 0, 0.2);
$box-shadow-all-sides-light: 1px 3px 15px 2px rgba(0, 0, 0, 0.03);
$box-shadow-all-sides-lighter: 0 1px 2.5rem rgba(0, 0, 0, 0.07);
$box-shadow-all-sides-dark: 0 0.1rem 2rem rgba(65, 65, 65, 0.45);

$global-radius: 3px !default;
$global-transition: all 250ms ease-in-out !default;

*,
*::after,
*::before {
  transition: $global-transition;
}

h1,
h2,
h3,
h5,
h6,
p,
div {
  color: $color-gray !important;
}

.c-header-container {
  display: flex;
  align-items: flex-start;
  padding: 0 24px;
  justify-content: space-between;
  -webkit-box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.2);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 16px;
  max-height: 95.5vh;
  overflow: hidden;

  &__bar {
    align-items: flex-start;
    flex-direction: row;
    display: flex;
    flex: 1;
    justify-content: space-between;
  }
}

.c-logo--small {
  height: 74px;
  width: 74px;
  transition: all 0.2s;
  cursor: pointer;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;

  &:hover {
    transform: scale(1.08);
  }
}

.active-button {
  color: rgb(117, 63, 12);
  text-decoration: none;
}

.c-navigation {
  display: flex;
  align-items: "center";
  margin-right: -12px;
}

button {
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

button:active {
  outline: none;
  border: none;
  transform: scale(1);
}

button:hover {
  transform: scale(1.05);
}

button:focus {
  outline: 0;
}

.c-button--primary {
  color: white;
  font-size: 16px;
  padding: 8px 16px;
  margin: 0 12px;
  background-color: rgba(144, 225, 30, 0.8);
  transition: all 0.2s;

  &:hover {
    background-color: rgba(144, 225, 30, 0.6);
  }
}

.c-button--secondary {
  color: white;
  font-size: 18px;
  padding: 11px 20px;
  border-radius: 4px;
  margin: 0 12px;
  background-color: rgba(144, 225, 30, 0.8);
  transition: all 0.2s;

  &:hover {
    background-color: rgba(144, 225, 30, 0.6);
  }
}

.c-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.1);
  padding: 16px;
  background-color: white;
  margin-bottom: 32px;
  position: relative;
}

h5 {
  font-size: 18px;
}

.c-card-header {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.c-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  font-size: 14px;
  text-align: center;
  height: 50px;
  margin-bottom: 18px;
}

.rotate-90 {
  transform: rotate(-90deg);
}

.scroll-down-button {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 24px;
}

.o-stars-wrapper {
  transform: scale(0.51);
  position: absolute;
  top: -3px;
  left: -26px;
  z-index: 30;
  border-radius: 3px;
  background-color: rgba(34, 34, 34, 0.3);
}

@keyframes showUp {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.s-show-up-animation {
  animation-duration: 0.3s;
  animation-name: showUp;
  animation-timing-function: linear;
}

@mixin screenshotAnimation($direction, $duration: 0.6s) {
  -webkit-animation-duration: $duration;
  -webkit-animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-duration: $duration;
  animation-fill-mode: both;
  animation-name: $direction;
  animation-timing-function: linear;
  perspective: 1000px;
}

.o-popup-container {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
  @include screenshotAnimation(showUp, 0.3s);
}

.c-popup {
  background-color: $color-white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  min-width: 40rem;
  padding: 3.2rem 3.5rem;
  position: relative;
  width: 33.333333%;
  z-index: 10;
  max-height: 100vh;
  overflow-x: visible;

  & > * {
    flex-shrink: 0;
  }

  &::-webkit-scrollbar {
    visibility: hidden;
    width: 0;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 1rem;
  }

  &__title {
    color: $color-gray;
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__label-text {
    color: $color-silver;
    font-size: 1rem;
    font-style: italic;
  }

  &--secondary {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: calc(33.3333% - 10rem);
  }
}

.u-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-form-input {
  background-color: transparent;
  border: 0;
  border-bottom: 0.1rem solid $color-gray-light;
  color: $color-gray;
  font-size: 1.2rem;
  height: 3rem;
  margin-bottom: 3rem;
  width: 32rem;
  transition: all 0.01s;

  &:focus {
    border-bottom: 0.1rem solid $color-gray;
    outline: none;
  }

  &::placeholder {
    color: $color-silver;
    font-size: 1.2rem;
  }

  &--secondary {
    width: 100%;
  }
}

.c-form-input--invalid {
  border-bottom: 0.1rem solid $color-dark-red;
  outline: none;
}

.c-form-select-input {
  background-color: transparent;
  border: 0;
  border-bottom: 0.1rem solid $color-gray-light;
  color: $color-gray;
  font-size: 1rem;
  height: 5rem;
  width: 45%;

  &:focus {
    border-bottom: 0.1rem solid $color-gray;
    outline: none;
  }

  &::placeholder {
    color: $color-silver;
    font-size: 1rem;
  }
}

.c-btn {
  border-radius: $global-radius; /* [1] */
  cursor: pointer; /* [2] */
  display: inline-block; /* [3] */
  font: inherit; /* [4] */
  margin: 0; /* [4] */
  padding: 5px; /* [5] */
  text-align: center;
  transition: $global-transition;
  vertical-align: middle;
}

button:disabled,
button[disabled] {
  background-color: $color-gray-light;
  border: 1px solid $color-silver;
  color: $color-silver;
  cursor: not-allowed;
}

/* Style variants
   ========================================================================== */

.c-btn--main {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 0.1rem solid $color-cornflower-blue;
  border-radius: 0.6rem;
  color: $color-cornflower-blue;
  font-size: 1.3rem;
  font-weight: 700;
  min-width: 10rem;
  min-height: 4rem;
  height: 5rem;
  transition: all 0.2s;
  user-select: none;
  white-space: nowrap;
  padding: 1rem 3rem;

  &--popup {
    margin: 0 auto 0.5rem auto;
    min-height: 4.5rem;
  }

  &--add-members {
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
  }

  &--active {
    background-color: $color-cornflower-blue;
    color: $color-white;
  }

  &:hover {
    box-shadow: $box-shadow-hover;
    transform: translateY(-2px);
  }

  &:active {
    background-color: transparent;
    box-shadow: $box-shadow-active;
    outline: none !important;
    transform: translateY(-1px);
    user-select: none;
  }
}

.c-btn--secondary {
  background-color: $color-malibu;
  min-width: 4.2rem;
  padding-top: 4.2rem;
  height: 0;

  & > p {
    color: $color-white-background;
    font-size: 1.5rem;
  }
}

.c-reservations-container {
  position: absolute;
  width: 80vw;
  height: 75vh;
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 6px;
  z-index: 10;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 12.5vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;

  .title {
    font-size: 1.3rem;
    color: white !important;
    align-self: center;
    margin-bottom: 24px;
  }
}

.c-card-row {
  display: flex;
  padding: 8px 0;

  p {
    text-align: center;
    font-size: 14px;
    margin: 0;
  }
}

.o-search-wrapper {
  position: absolute;
  margin: 0 auto;
  left: 50%;
  top: 30vh;
  transform: translateX(-17.5rem);
}

.react-autosuggest__container {
  position: relative;
  border-radius: 0.7rem;
  -webkit-box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.1);
}

.react-autosuggest__container--open {
  width: 35.1rem;
  z-index: 250;
  box-shadow: $box-shadow-all-sides-light;
}

.react-autosuggest__input {
  -webkit-font-smoothing: antialiased !important;
  backface-visibility: hidden;
  border-radius: 0.4rem;
  color: $color-gray;
  font-size: 1.2rem;
  height: 3rem;
  width: 35rem;
  text-indent: 2.5rem;
  border: none;
  transform-origin: left;

  &::placeholder {
    color: $color-silver;
    font-size: 1.2rem;
  }
}

.react-autosuggest__input--open {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: 0;
  border-bottom: 0.02rem solid $color-silver;
  z-index: 251;
  background-color: white;
  position: relative;

  &::placeholder {
    color: $color-silver;
  }
}

.react-autosuggest__suggestions-container {
  position: absolute;
  background-color: white;
  transform: translateY(-2px);
}

.react-autosuggest__suggestions-list {
  list-style: none;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__suggestions-container--open {
  width: 100%;
  box-shadow: $box-shadow-all-sides-light;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  max-height: 85vh;
  overflow-y: auto;

  &::-webkit-scrollbar {
    visibility: hidden;
    width: 0;
  }
}

// @import url(https://fonts.googleapis.com/css?family=Roboto:400, 500, 300, 700);

* {
  font-family: Roboto;
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff !important;
  margin: 0 0 10px;
  padding: 0;
  transition: ease 0.25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease 0.25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff !important;
  display: inline-block;
  padding: 0 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  color: #ffffff !important;
  text-align: center;
  transition: all 0.25s;
}

.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
  text-decoration: underline;
  color: rgba(144, 225, 30, 0.8) !important;
}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

.c-slogan {
  position: absolute;
  top: 13vh;
  left: 50%;
  width: 90vw;
  transform: translateX(-50%);
  font-size: 3.2rem;
  color: white !important;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-style: italic;
  text-align: center;
}

.c-confirm {
  width: 40vw;
  border-radius: 0.4rem;
  background-color: white;
  padding: 24px;
}

.yes {
  color: white;
  font-size: 15px;
  padding: 8px 10px;
  background-color: rgba(144, 225, 30, 0.8);
  transition: all 0.2s;

  &:hover {
    background-color: rgba(144, 225, 30, 0.6);
  }
}

.no {
  color: white;
  font-size: 15px;
  padding: 8px 10px;
  background-color: rgba(240, 3, 3, 0.8);
  transition: all 0.2s;

  &:hover {
    background-color: rgba(240, 3, 3, 0.8);
  }
}

.logout {
  margin-left: 10px;
  padding: 5px;
  font-size: 1.2rem;
  font-weight: 600;

  &:hover {
    background-color: rgba(144, 225, 30, 0.6);
    color: white;
  }
}
